<!DOCTYPE html>
<html lang="">
<!-- Ativar lang depois -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Web</title>


    <!-- ADD Font-Google -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">

    <!-- ADD Fav-Icon -->
    <link rel="shortcut icon" href="/public/images/favicon-32x32.png" type="image/x-icon">

    <!-- Styles CSS Order - reset, main-styles, main-grid-->
    <link rel="stylesheet" href="/public/layouts/reset-styles.css">
    <link rel="stylesheet" href="/public/layouts/media-query.css">
    <link rel="stylesheet" href="/public/layouts/grid-layout.css">
    <link rel="stylesheet" href="/public/styles/page-landing.css">


    <!-- Script JS -->
    <script src="" defer></script>
</head>

<body id="page-landing">
    <div id="container">

        <header class="header-block">header</header>
        <main class="main-block">main</main>
        <footer class="footer-block">footer</footer>
    </div>
</body>

</html>